# URL to your mysql database
DATABASE_URL=mysql+pymysql://user:password@localhost/db_name

# base url for api calls
API_BASE_URL=your_api_base_url

# mysql detial
MYSQL_DATABASE=db_name
MYSQL_ROOT_PASSWORD=your_mysql_root_password

# Detail for jwt
JWT_ACCESS_SECRET=super-secret-access-key-fallback
JWT_REFRESH_SECRET=another-super-secret-refresh-key-fallback
JWT_ALGORITHM=algorithm_type

# gemini api key
GEMINI_API_KEY=your-gemini-api-key