# IDE - PyCharm
.idea

# IDE - VSCode
.vscode

# dotenv environment variable files
.env

# virtual environment
.venv

# Python bytecode
__pycache__

# Alembic Migrations files
alembic/versions

# Junie Pycharm AI folder
.junie